<section class="container">
    <div class="container__tag">BITLY LINKS</div>
    <h1 class="container__title"> Create links that perfom with our powerful URL shortener</h1>
    <p class="container__description">Spark instant connections with your audience using trimmed, trustworthy, and trackable links within the Bitly Connections Platcontainer.</p>
    <form class="container__form" action="" s>
        <input class="container__form__input" type="url" placeholder="Shorten your link" />
        <button class="container__form__button" type="submit"> Shorten Link</button>
    </form>
</section>